.textBuy {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $primary-color;
}

.btn {
    padding: 10px 15px;
    border: 1px solid red;
    background-color: $secondary-color;
}

.btn2 {
    padding: 10px 15px;
    border: 1px solid red;
    background-color: $third-color;
}